$hawk-gold:          #ffcd00;
$hawk-black:         #000000;
$secondary-gray:     #63666a;
$secondary-blue:     #00558c;
$secondary-green:    #00664f;
$secondary-orange:   #bd472a;

$paper-1:            #e1d2bb;
$paper-2:            #8d7140;
$paper-3:            #322e21;
