$hawk-gold:          #ffcd00;
$hawk-black:         #000000;
$secondary-gray:     #63666a;
$secondary-blue:     #00558c;
$secondary-green:    #00664f;
$secondary-orange:   #bd472a;

$paper-1:            #ece7dc; 
$paper-2:            #473920;
// $paper-3:            #322e21;
