// ––– Google fonts
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;700&family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,600;1,300;1,600&display=swap');

$font-body-01:     'EB Garamond', serif;
$font-body-02:     'Roboto', sans-serif;
$font-header-01:   'EB Garamond', serif;


html {
  font-size: 62.5%;  // sets up the Base 10 stuff
}

body, p, ul {
	font-family: $font-body-01;
	@include font-size(2.4);
	line-height: 1.5;
	// color: black;

	.small-type,
	&.small-type {
		@include font-size(1.2);
	}

	@include breakpoint($large-width) {
		@include font-size(1.8);
	}
}

#content-main {
	color: black;
	background-color: white;

	h1, h2, h3, h4, h5 {
		font-family: $font-body-01;
		font-weight: bold;
	}

	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		@include font-size(3);
	}
	h2 {
		margin: 0;
		padding-bottom: 0.5em;
		@include font-size(3.6);
	}
	h3 {
		margin: 2em 0 0 0;
		padding-bottom: 0.5em;
		@include font-size(3.2);

		+ p {
			margin-top: 0.25em;
		}
	}
	h4 {
		margin: 1em 0 0 0;
		padding-bottom: 0.25em;
		font-style: italic;
		@include font-size(2.8);

		+ p {
			margin-top: 0.25em;
		}
	}
	h5 {
		margin: 1em 0 0 0;
		padding-bottom: 0.25em;
		font-style: italic;
		@include font-size(2.4);

		+ p {
			margin-top: 0.25em;
		}
	}

	p , ul, li {
		color: black;
	}

	@include breakpoint($fixed-width) {

		h2 {
			@include font-size(3.6);
		}
		h3 {
			@include font-size(3.2);
		}
		h4 {
			@include font-size(2.8);
		}

	}
}

