.footer-site {
  margin: 4rem auto 1rem auto;
  padding: 2rem;
  max-width: $fixed-width;
  text-align: center;
  border-top: 1px solid $secondary-gray;

  ul.project-partners {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    .parnter {

      &--dsps img { max-height: 60px; }
    }
  }
}