#sidebar {
        
  ul {
    margin: 1em 0;
    padding: 0;

    li {
      margin: 0 0 2px 0;
      padding: 0;
    
      a {
        display: block;
        margin: 0;
        padding: 0.666em 1em;
        background-color: lighten($secondary-gray, 25%);
        color: black;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.1s;
        font-family: $font-body-02;

        &:hover {
          background-color: $hawk-gold;
          text-decoration: none;
        }
      }
    }
  }
}